@font-face {
  font-family: 'HarmonyOS_Sans_SC_Regular';
  font-weight: 400;
  font-style: normal;
  src: url('HarmonyOS_Sans_SC_Regular.woff2') format('woff2'),
    url('HarmonyOS_Sans_SC_Regular.woff') format('woff'),
    url('HarmonyOS_Sans_SC_Regular.ttf') format('truetype'),
    url('HarmonyOS_Sans_SC_Regular.svg#Lato') format('svg');
}

@font-face {
  font-family: 'HarmonyOS_Sans_SC_Medium';
  src: url('HarmonyOS_Sans_SC_Medium.woff2') format('woff2'),
    url('HarmonyOS_Sans_SC_Medium.woff') format('woff'),
    url('HarmonyOS_Sans_SC_Medium.ttf') format('truetype'),
    url('HarmonyOS_Sans_SC_Medium.svg#Lato') format('svg');
}

@font-face {
  font-family: 'HarmonyOS_Sans_SC_Bold';
  src: url('HarmonyOS_Sans_SC_Bold.woff2') format('woff2'),
    url('HarmonyOS_Sans_SC_Bold.woff') format('woff'),
    url('HarmonyOS_Sans_SC_Bold.ttf') format('truetype'),
    url('HarmonyOS_Sans_SC_Bold.svg#Lato') format('svg');
}
